.code_1 {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 30px;
}
p {
  line-height: 33px;
}
.code_2 {
  background-color: rgb(56, 53, 53);
  color: white;
  padding: 20px;
}
div > p {
  text-align: left;
  margin: 5px 20px 3px 30px;
}
.MainContent {
  margin-right: 20%;
}
